:root {
  --bgColor: #102438;
  --textColor: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Spartan, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-style: 16px;
}

* a {
  color: var(--textColor);
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 1140px;
}

html,
body {
  height: 100%;
  color: var(--textColor);
}

body {
  background-color: var(--bgColor);
  animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .brand {
  text-transform: uppercase;
}
header nav a {
  font-size: 0.7rem;
}

main {
  text-align: center;
}
main hgroup {
  padding: 60px 0 20px 0;
  text-transform: uppercase;
}

img.header-pic {
  margin: 80px 0 80px -25%;
  width: 100%;
  animation: driveIn 1.5s;
}

@keyframes driveIn {
  from {
    opacity: 0;
    margin-left: -75%;
  }
  to {
    opacity: 1;
    margin-left: -25%;
  }
}
#contact h1 {
  font-size: 2rem;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}
.contact-wrapper h1 {
  text-align: center;
}
.contact-wrapper aside {
  border-radius: 10px;
  padding: 30px;
  background-color: var(--bgColor);
  box-shadow: #2266a1dc 0 5px 18px;
}
.contact-wrapper aside div {
  border: 2px solid white;
  border-radius: 0.2rem;
  padding: 30px;
  margin-bottom: 30px;
}
.contact-wrapper aside div p {
  text-align: center;
}
.contact-wrapper aside div p.kg {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 30px;
}
.contact-wrapper aside address {
  text-align: center;
  font-style: normal;
  line-height: 2rem;
}
.contact-wrapper aside address a {
  display: inline-block;
  margin: 40px 0;
}
.contact-wrapper aside address p.name {
  font-weight: 700;
}
.contact-wrapper aside address p span.phone {
  font-weight: initial;
  font-size: 0.8rem;
}

footer {
  text-align: center;
  font-size: 0.7rem;
  margin-top: 50px;
}

@media screen and (max-width: 480px) {
  main p {
    font-size: 0.8rem;
  }

  #contact {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    padding: 20px 50px;
  }

  main hgroup {
    padding-top: 100px;
  }
  main h1 {
    font-size: 4rem;
  }
  main h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  main hgroup {
    padding-top: 150px;
  }
  main hgroup h1 {
    font-size: 5rem;
  }
  main hgroup h2 {
    font-size: 4rem;
  }
  main p {
    font-size: 1.5rem;
  }

  .contact-wrapper aside {
    text-transform: uppercase;
  }
  .contact-wrapper address a {
    text-transform: initial;
    font-size: 1.2rem;
  }
  .contact-wrapper address p.name {
    font-size: 1.3rem;
  }
  .contact-wrapper address p.name span.phone {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
