* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Spartan, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-style: 16px;
}

:root {
  --mainBlue: #3f8acd;
  --truckBgImg: url("/assets/images/road-trucks-bg-blur.jpg");
  --truckBgColor: black;
  --truckText: black;
  --vanBgImg: url("/assets/images/road-van-bg.jpg");
  --vanBgColor: white;
  --vanText: white;
  --bgMainTruck: rgba(255, 255, 255, 0.3);
  --bgMainVan: rgba(0, 0, 0, 0.5);
  --activeBtnColor: rgba(255, 255, 255, 0.6);
  --contactTruckBorderColor: black;
  --contactVanBorderColor: white;
}

.wrapper.truck {
  background-color: var(--bgMainTruck);
}

.wrapper.van {
  background-color: var(--bgMainVan);
}

html,
body {
  height: 100%;
}

body {
  background-image: var(--bgMainTruck);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-clip: border-box;
}

body.truck {
  background-image: var(--truckBgImg);
  color: var(--truckText);
}

body.van {
  background-image: var(--vanBgImg);
  color: var(--vanText);
}

section.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  transition: background-color 500ms ease-in-out, color 1000ms ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h1 {
    text-transform: uppercase;
    font-size: 5rem;
    span.main {
      font-size: 6rem;
    }
    span.secondary {
      font-size: 3.8rem;
      font-weight: 400;
    }
  }
  h2 {
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 40px;
  }
  p {
    font-size: 1.2rem;
    padding-bottom: 50px;
    text-transform: uppercase;
  }
}

div.buttons {
  display: flex;
  justify-content: center;
  button {
    width: 150px;
    height: 60px;
    margin: 10px;
    border-radius: 30px;
    border-style: none;
  }
}

section.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.1rem;
  div {
    flex: 1;
  }
  aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
    ul {
      padding: 20px;
      line-height: 40px;
    }
    li {
      i {
        margin-right: 10px;
      }
      img {
        max-width: 30px;
        padding: 5px;
      }
    }
  }
}

@media (max-width: 960px) {
  main {
    padding: 20px;
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.05rem;
    }
  }
  section.contact {
    font-size: 1rem;
  }
}
